@import '../../assets/variables';

.adminInfo {
    display: flex;
    cursor: pointer;
    justify-content: space-evenly;
    align-items: center;
    // border-left: $base-border;
    // padding-left: 0.3rem;
    P {
        margin: 0 0.3rem ;
        font-size: $font-25;
       &:first-child {
        font-weight: bold;
       }
    }
    img {
        border: $base-border;
        width: 4rem;
        height: 4rem;
        margin-left: 0.5rem;
        border-radius: 50%
    }
}