@import '../../assets/mixins';
@import '../../assets/variables';


.Content-container {
    margin: 2.6rem auto;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
};

.home-chart-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
};

.home-chart {
   @include cus-box-shadow;
    border-radius: 10px;
    padding: 1rem;
    h1{
        font-size: $font-100;
        color: $base-color;
        font-weight: bold
    }
};
