@import '../../assets/variables';
@import '../../assets/mixins';

.tableContainer {
     width: 40%;
    flex:3;
    margin: 0 auto;
    padding: 1rem;
    @include cus-box-shadow;
    border-radius: 10px;
    h1 {
        font-size: $font-100 ;
        color: $base-color;
    }
}

.table-grid-Container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
};



@media screen and (max-width:780px){
    .tableContainer {
        flex:1;
    }

};

